table {
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 1.5em;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

table thead tr {
  background: #005498;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

table thead th {
  width: 250px;
}

table tbody tr {
  border-bottom: 1px solid #ffffff9e;
  transition: 0.8s all ease;
  text-align: center;
}

table tbody tr:nth-of-type(even) {
  background: #ffffff9e;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #005498;
}

table tbody tr:hover {
  font-weight: bold;
  color: #005498;
}