@charset "utf-8";

body {
  text-align: center;
}

h1 {
  border: solid 2px black;
  background: rgb(155, 153, 153);
  width: 500px;
  margin: 0 auto;
  border: solid 3px black;
  border-bottom: none;
  border-radius: 16px 16px 0 0;
  padding: 24px;
}

.container {
  width: 500px;
  padding: 24px;
  margin: 0  auto;
  text-align: center;
  border: solid 3px black;
  border-radius: 0 0 16px 16px;
}

select {
  display: inline-block;
  font-size: 24px;
  width: 400px;
  text-align: center;
  margin-top: 32px;
}

p {
  font-size: 24px;
  margin-top:32px;
}

button {
  font-size: 14px;
  margin-top:60px;
}

button > a {
  text-decoration: none;
  color: inherit;
}