@charset "utf-8";

html{
  background: linear-gradient(to bottom, #3e7eff, #94d6ff);
}


body {
  box-sizing: border-box;
  text-align: center;
  font-family: 'Hiragino Maru Gothic ProN','Hiragino Sans',sans-serif;
}

p {
  margin-bottom: 0;
}

h1 {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 16px;
  color: white;
}

button {
  width: auto;
  background: rgb(160, 153, 153);
}

div.form {
  background: white;
  width: 400px;
  margin: 0 auto;
  border-bottom: none;
  border-radius:8px 8px 0 0 ;
  text-align: center;
  padding: 16px;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input {
  font-size: 18px;
}

.name {
  margin-top: 0;
  font-size: 24px;

}

.pass {
  margin-top: 16px;
  font-size: 24px;
}

.log {
  font-size: 24px;
  all:unset;
  background: rgb(106, 220, 86);
  width: 384px;
  margin: 0 auto;
  padding: 24px;

  border-radius: 0 0 8px 8px;
  text-align: center;

}

.admin {
  width: 200px;
  margin: 16px auto;

}

